.App {
  text-align: center;
  height:100%;
  width:100%;
}

.sticky-header {
  position: fixed;
  font-weight: bold;
  top: 0;
  width: 100%;
  height: 10%;
  padding: 0px;
  background-color: #061d3b; /* Set your desired background color */
  z-index: 1000; /* Set a high z-index to ensure it stays on top of other elements */
}

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.logo {
  max-width: auto;
  max-height: 50%;
  padding: 20px;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.chat-window {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  width: 75%;
  height:50%;
}

.user {
  background-color: #dcf8c6;
  padding: 8px;
  margin: 8px 0;
  border-radius: 8px;
  align-self: flex-end;
  max-width: 70%;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.author {
  font-size: 12px;
  color: #061d3b;
  font-weight: 700;
  margin-bottom: 8px;
}

.bubble {
  --t: 30px; /* the size of the tail */
  padding: 10px;
  margin: 20px;
}

.left {
  --_d: 0%;
  border-left: var(--t) solid #0000;
  background: #44c2fd border-box;
  color: white;
  margin-right: 25%;
  place-self: start;
  text-align: left;
  border-radius: 20px 20px 20px 5px;
}
.right {
  --_d: 100%;
  border-right: var(--t) solid #0000;
  background: #f4f6fa border-box;
  color: black;
  margin-left: 25%;
  place-self: end;
  text-align: right;
  border-radius: 20px 20px 5px 20px;
}

.input-container {
  display: flex;
  width: 75%;
  margin-top: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}

input {
  flex: 1;
  font-size: 16px;
  padding: 8px;
  border: none;
}

button {
  background-color: #44c2fd;
  color: #fff;
  border: none;
  font-size: 16px;
  height: 50px;
  padding: 8px 20px;
  border-radius: 4px;
  cursor: pointer;  
}

button:hover {
  background-color: #061d3b;
}

.menu-button {
  /* Add your existing styles for the menu button */
  background-color: #44c2fd;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin: 5px;
  padding: 10px;
  font-size: 14px;
  width: auto;
  max-width:75%;
}

.radio-button {
  /* Styles to mimic a radio button */
  display: inline-block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  margin-left: 5px;
}

.radio-button::before {
  content: '';
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid;
  background-color: #f4f6fa;
  box-sizing: border-box;
}

.radio-button.selected::before {
  background-color: #061d3b;
}

.action-bar{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  width: 75%;
}

.end-conversation {
  margin-bottom: 10px;
  text-align: right;
  margin-left:auto;
}

.customer-selection {
  margin-bottom: 10px;
  text-align: left;
  margin-right:auto;
  display: flex;
  align-items: center;
}

